*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log

# IDE - Eclipse
.project
.settings/
.classpath

# Python
__pycache__/

# OMC
.omc/
